/* AddBook.css */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form {
  width: 100%;
  max-width: 500px;
  background-color: #925c86;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #a2418a;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  display: inline-block;
  background-color: #036859;
  width:500px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight:bold;
}

form button:hover {
  background-color: #5a0c9d;
}