/* ShowBook.css */

.show-book-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.right-div {
  flex: 1;
  padding: 20px;
  margin-right: -40px;
}

.right-div h2 {
  margin-bottom: 20px;
  color: #333;
}

.right-div p {
  width:350px;
  font-size:20px;
  color: #555;
}

.right-div img {
  max-width: 80%;
  height: 400px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.left-div {
  flex: 1;
  padding: 20px;
  background-image: url('../assets/note2.webp'); 
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height:700px;
}

.left-div p {
  font-size:20px;
  width:400px;
  margin-bottom: 10px;
  color: #1b1a1a;
  padding: 10px;
  border-radius: 4px;
}
.actions {
  position: absolute;
  top: 0;
  right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.actions a,
.actions button {
  background-color: #6a0dad;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:2px;
  
}

.actions a{
    width:30px;
    height:25px;
    
}
.actions button{
    width:50px;
    height:35px;
}
.actions a:hover,
.actions button:hover {
  background-color: #5a0c9d;
  
}

.actions .delete-button {
  background-color: #ff4d4d;
}

.actions .delete-button:hover {
  background-color: #e60000;
}

.actions svg {
  margin-right: 5px;
}