.footer {
  background-color: #706fc0; 
  padding: 10px 20px;
  border-radius: 5px; 
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer p {
  margin: 0;
  font-size: 20px;
}