nav {
  background-color: #706fc0; 
  padding: 10px 20px;
  border-radius: 5px; 
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .left, nav .right {
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none; 
  padding: 10px 15px; 
  border-radius: 5px; 
  transition: background-color 0.3s; 
  font-size: 18px; 
  font-weight: bold;
}

nav a:hover {
  background-color: #8a2b61;
}

nav .welcome {
  font-size: 18px;
  font-weight: bold;
  margin-right: 50px;
  color:white;
}

