.App {
  background-image: url('./assets/img10.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 180vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:10px;
  display:flex;
  flex-direction:column;
}
