
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('./assets/img10.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


.content {
  flex: 1;
  margin-top: 50px;
  margin-bottom: 50px; 
  padding: 10px;
  overflow-y: auto;
}